* {
  box-sizing:border-box;
} */

/* Navigation Bar */

.navbar{
  max-height: none; 
  font-size:15px;
  font-weight:bolder;
  /* background-color: #78C2AD; */
} 

.navbar-collapse {
  position: right;
  right: 5%;
  font-size: medium;
}

.navbar-brand{
  margin-left:30px;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #78C2AD !important;
  color:#fff  !important;
  padding: 10px;
} 

.navbar-brand:hover{
  color:#fff !important;
}

.nav-link{
  text-align:center;
}

.a{
  color: #667583 ;
  text-align: right;
 
}

 /* Content */
.col-md-7{
  background-color:#78C2AD;
}

.col-md-5{
  background-color:#78C2AD;
  padding-right:20px;
  /* background-image:url(mihee_icon.png);
  background-size:200px;
  background-repeat:no-repeat;
  background-position: bottom ; */
}

.col-sm-6 {

  position: relative;
  left:90px;
  top:40px;

  width: 600px;
  height: 100%;
  }



body{ 
  /* tags$head(tags$link(rel = "stylesheet", type = "text/css" ,href ="Resources/assets/images/bootstrap.min.css')) */
  height:800px;
  background-color:#78C2AD;
  background-position:center;
  position:relative;
  background-repeat: no-repeat; 
  background-image: url(hw_icon.jpg);
  background-size:50px;
}

.title{
    color: #1D807B;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;  
  }

.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color:#fff !important
  ;

}

.box-1{
  background-color:#fff;
  margin-top: 60px; 
  margin-bottom: 30px; 
  padding-top:5px;
  padding-left:5px;

}


.row {
  padding-bottom: 30px;
  padding-top:10px;

}

.row-1 {
  padding-bottom: 30px;
  padding-top:10px;

}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#fff !important;
}

/* Images */
img{
  width:100% !important;
  height:100% !important; 
}

/* Data Table */
.dataframe{
  background-color: #f3f3f3;
  padding-left: 20px;
  margin-left:30px;
}

/* Comparison H5 */
h5{
  text-align: center;
}

h6 {
  text-align: center;
  padding-top: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#fff;
}


/* Media Queries */
@media(max-width: 800px){
  .navbar-expand-lg{
  background-color: #0BADA6 !important}
  .navbar {
    padding:inherit}
  div .dropdown-menu{
    background-color: #0BADA6;
  }